page-changepassword {
    @media only screen and (max-width: 375px) {      
        .scroll-content{
                overflow-y:hidden;
                padding:0%;
        }
        .scroll-content::-webkit-scrollbar {
                overflow-y:hidden !important;
                border:none;
                width:0;
                background: rgba(0,0,0,0);
    }
    .hdngtxt{
        font-size:5vw;
        font-family:'roboto';
        font-weight:normal;
    }
    .chngpssbdy{
        width:100vw;
        height:100vh;
        display:flex;
        padding-top:5%;
        flex-direction:column;
        align-items:center;
        background: linear-gradient(#488aff, #3e80f3);
    }
    .chngpssbtn{                   
        width:90vw;                                                
        padding-top:7%;
        padding-bottom:7%;
        font-size:4.5vw;
        font-family:'roboto' !important;
        background: linear-gradient(#4084fa, #3379f3);
        color:#FFFFFF;
        margin-top:7%;
    }
    .inptpwd{
        width:90vw;
        padding:0%;
        background-color:transparent;
    }
    .inpts{
        font-family:'roboto';
        font-size:5.5vw;
        color:#FFFFFF;
    }
}
}