page-changepassword {
    @media only screen and (max-width: 375px) {      
        .scroll-content{
                overflow-y:hidden;
                padding:0%;
        }
        .scroll-content::-webkit-scrollbar {
                overflow-y:hidden !important;
                border:none;
                width:0;
                background: rgba(0,0,0,0);
    }
    .hdngtxt{
        font-size:5vw;
        font-family:'roboto';
        font-weight:normal;
    }
    .chngpssbdy{
        width:100vw;
        height:100vh;
        display:flex;
        flex-direction:column;
        align-items:center;

    }
    .chngpssbtn{
        width:90vw;
        padding:0%;
        padding-top:5%;
        padding-bottom:5%;
        background-color:#488aff;
        color:#FFFFFF;
        font-family:'roboto';
        font-size:4.5vw;
        font-weight:normal;
        margin-top:3%;
    }
    .inptpwd{
        width:90vw;
        padding:0%;
    }
    .inpts{
        font-family:'roboto';
        font-size:5.5vw;
    }
}
}