<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="headerclr">
    <ion-title><label class="hdngtxt">Notifications</label></ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="scroll-content">
<div class="ntfbdy">

<div  *ngIf="connection == 'true'">
  <div class="ntfpnls" *ngFor="let item of data">
    <table class="tblntf">
      <tr>
        <td>
          <label class="ntfttl">{{item.title}}</label>
        </td>
        <td text-right>
          <label class="dtlbl">{{item.date}}</label>
        </td>
      </tr>
      <tr>
        <td>
          <label class="ntfsbttl">{{item.message}}</label>
        </td>
      </tr>
    </table>
  </div>
</div>
<div *ngIf="connection == 'false'">
  
<div class="ntfbdynnt">
  <div class="icnnnt">
    <img src="assets/imgs/nonet.png" />
  </div>
  <div class="txtnnt">
    No Internet Access
  </div>
</div>
</div>




</div>
</ion-content>
